h1 {
    text-align: center;
    background-color: yellow;
    color: black;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}



@media only screen and (max-width: 480px) {
    body {
        background-color: maroon;
    }

    .container {
        flex-direction: column;
    }

    #SmallA {
        background-color: white;
        color: black;
        font-size: small;
        padding: 20px;
    
    }

    #SmallB {
        background-color: white;
        color: black;
        font-size: small;
        padding: 20px;
    
    }

    #SmallC {
        background-color: white;
        color: black;
        font-size: small;
        padding: 20px;
    
    }
    
    #MediumA {
        display: none;
    }
    
    #MediumB {
        display: none;
    }
    
    #MediumC {
        display: none;
    }
    



    #LargeA {
        display: none;
    }
    
    #LargeB {
        display: none;
    }
    
    #LargeC {
        display: none;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    body {
        background-color: green;
    }

    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #SmallA {
        display: none;
    
    }

    #SmallB {
        display: none;
    
    }

    #SmallC {
        display: none;
    
    }
    
    #MediumA {
        background-color: white;
        color: black;
        font-size: medium;
        padding: 20px;
        width: 60%;
        flex-wrap: wrap;
    }
    #MediumB {
        background-color: white;
        color: black;
        font-size: medium;
        padding: 20px;
        width: 30%;
        flex-wrap: wrap;
    }
    #MediumC {
        background-color: white;
        color: black;
        font-size: medium;
        padding: 20px;
        width: 100%;
        flex-wrap: wrap;
    }
    
    #LargeA {
        display: none;
    }
    
    #LargeB {
        display: none;
    }
    
    #LargeC {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-color: blue;
    }

    .container {
        flex-direction: row;
        flex-flow: nowrap;
        
    }



    #SmallA {
        display: none;
    }

    #SmallB {
        display: none;
    }

    #SmallC {
        display: none;
    }



    
    #MediumA {
        display: none;
    }
    
    #MediumB {
        display: none;
    }
    
    #MediumC {
        display: none;
    }
    


    #LargeA {
        width: 30%;
        background-color: white;
        color: black;
        font-size: large;
        padding: 10px;

    }
    
    #LargeB {
        width: 30%;
        background-color: white;
        color: black;
        font-size: large;
        padding: 10px;
    }
    
    #LargeC {
        width: 30%;
        background-color: white;
        color: black;
        font-size: large;
        padding: 10px;
    }
}
